@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*background: url(underwater.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.header {
    display:block;
    -webkit-background-size: cover;
    background: url(glacier_lake_background.jpg) no-repeat center center fixed;
    filter:blur(0px) brightness(110%);
    height: 100%;
    -webkit-filter: brightness(110%) blur(0px) ;
    left: 0;
    right: 0;
    z-index: 0;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    /*background: url(dock.jpg) no-repeat center center fixed;*/
    display:grid;
    top:0%;
    position: absolute;
    z-index: 1;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
}
.content {
    max-width: 75%;
    margin: auto;
    text-align: center;
    z-index: 0;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #15481b;
    font-size: 400%;
}

.container h2 {
    font-family: 'Raleway', sans-serif;
    color: #15481b;
    text-align: center;
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #15481b;
    font-size: 135%;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    width: 200px;
    border: solid #15481b 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: #6e9bff;
    border: solid #6e9bff 3px;
}
.project {
    column-span: 1;
}
#projects {
    column-count: 3;
    -webkit-column-count: 3;
    column-fill: balance;
    -webkit-column-fill: balance;
    page-break-inside: avoid;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}
#projects h2 {
    column-span: all;
}
#courses{
    column-count:3;
    column-fill: balance;
}
#courses li {
    page-break-inside: avoid;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}


@media only screen and (max-width: 720px) {
    .content {
        margin-top: 30px;
    }
    .content h1 {
        font-size:250%;
    }
    
    .btn {
        align-content: center;
        font-size: 95%;
        margin-bottom: 3px;
        width: 100%;
    }
    
    #button {
        margin-top: 30px;
        width: 40%;
        display: inline-grid;
/*        float: left;*/
    }
    #button2 {
        margin-top: 30px;
        width: 40%;
        display: inline-grid;
    }
}
@media only screen and (max-height: 250px) {
    .btn {
        width: 100%;
        font-size: 95%;
    }
    #button {
        width: 30%;
/*        float: left;*/
        display: inline-grid;

    }
    #button2 {
        width: 30%;
        display: inline-grid;
    }
    
}
